autom4te.cache/*
aclocal.m4
bin/*
Makefile
Makefile.in
missing
config.status
depcomp
configure
install-sh
*.o
*.Po
*/*.Po
src/.deps/*
src/ncf
src/tests/*
config.log
/src/.cproject
/src/.project
/src/test
/src/scanner.bash
/src/fingerprints.txt~
/src/.scanner.bash.swp
/src/neighbor-fingerprint
